
.aboutproject {
  
 background-image: url('/images/Project_EARA.png') !important;
 background-size: cover;
 background-position: left bottom !important;
 background-repeat: no-repeat;
}
@media only screen and (max-width:768px) {
 .aboutproject {
 
   background-image: none !important;
   background-size: 100% 100% !important;
   background-position: center  !important;
  
   background-repeat: no-repeat;
 }
}